.game {
  margin-top: 40%;
  width: 300px;
  height: 300px;
  margin: auto;
  display: grid;

  padding: 10px;
  grid-template-rows: 100px 100px 100px;
  grid-template-columns: auto;
  grid-template-areas:
    "1 2 3"
    "4 5 6"
    "7 8 9";
}

h1 {
  text-align: center;
  color: aliceblue;
  font-family: sans-serif;
}
h2 {
  text-align: center;
  font-family: sans-serif;
  color: aliceblue;
}
body {
  background-color: #534d4dd2;
  background-image: url("./img/stars-pattern.png");
}
.btn {
  background-color: rgba(3, 57, 107, 0.705);
  font-size: 25px;
  color: aliceblue;
  border-radius: 10%;
  box-shadow: 2px 2px 20px black;
}

.reset {
  width: 150px;
  height: 50px;
  border-radius: 10%;
  background-color: rgba(3, 57, 107, 0.705);
  font-size: 20px;
  color: aliceblue;
  font-family: sans-serif;
  margin-left: 40%;
}
.btn-reset {

  width: 150px;
  height: 50px;
  border-radius: 10%;
  background-color: rgba(3, 57, 107, 0.705);
  font-size: 20px;
  color: aliceblue;
  font-family: sans-serif;
  display: inline-block;
  margin-left: 40%;
}
.player-display {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.player-display p {
  padding-left: 4rem;
  color: aliceblue;
  font-size: large;
  font-family: sans-serif;
}
